.aboutContainer{
    /* position: absolute; */
    height: 100%;
    /* top: 10vh; */
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: 100%;
    overflow: hidden;  

    /* overflow: scroll; */
    
}


.aboutParagraph{
    all: initial;
    height: 30%;
    width: 50%;
    font-size: 20px;
    word-wrap: break-word;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    color: white;
    text-align: justify;
    line-height: 1;
}

h2 {
    text-align: center;
}

/* .tech{
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-evenly;
}
.fas{
    color: white;
} */

@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 500px) {}