/* Banner Text Container */
.myName{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 75vw;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* mix-blend-mode: difference; */
    /* background: linear-gradient(to bottom, red, grey);     -webkit-background-clip: text;     -webkit-text-fill-color: transparent; */

}

#hello{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#name{
    margin: 0 auto;
    font-size: 70px;
    color: white;
    letter-spacing: 15px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}

#designer{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

/* #myPic{
    border-radius: 50%;
    height: 225px;
    width: 225px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* End of Banner Text Container */

/* Main Container with Background Image and Navigation  */

.bannerContainer{
    background-image: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1608013141/Portfolio1/IMG_9264_1_spwd0a.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}


.linkContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 20vw;
    /* margin-right: 10px; */
    margin: 0 auto;
    top: 0;
    right: 0;
    /* filter: invert(1); */
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    /* mix-blend-mode: difference; */

  }
  
  /* background-color: rgba(0, 0, 0, 0.5); */
/*       cursor: crosshair;  */

  /* .homeIcon:hover, .projectsIcon:hover, .contactIcon:hover, .aboutIcon:hover {
    cursor: crosshair;
  } */

  
  .homeIcon {
    /* background: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1607986962/Portfolio1/8_sbydpk.png");
    background-size: contain;
    background-repeat: no-repeat; */
    /* width: 75%;
    min-width: 100px; */
    /* height: 150px;     */
    /* filter: invert(1); */
    cursor: crosshair;
  }
  .aboutIcon {
    /* background: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1607986962/Portfolio1/7_rtjtxw.png");
    background-size: contain;
    background-repeat: no-repeat; */
    /* width: 75%;
    min-width: 100px; */
    /* height: 150px; */
    /* filter: invert(1); */
    cursor: crosshair;
  }
  .projectsIcon {
    /* background: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1607986962/Portfolio1/9_bga09d.png");
    background-size: contain;
    background-repeat: no-repeat; */
    /* width: 75%;
    min-width: 100px; */
    /* height: 150px; */
    /* filter: invert(1); */
    cursor: crosshair;
  }
  
  .contactIcon {
    /* background: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1607986962/Portfolio1/10_tdfln9.png");
    background-size: contain;
    background-repeat: no-repeat; */
    /* width: 75%;
    min-width: 100px; */
    /* height: 150px; */
    /* filter: invert(1); */
    cursor: crosshair;
  }
  
  .navBox {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: black; */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    width: 0;
    transition: all 1s;
    color: white;
    font-size: 30px;;
    /* transform: translateX(80vw) 1s ease; */
  }
  
  .width1 {
    width: 80vw;
    /* transform: translateX(0); */
    /* z-index: 100; */
    /* animation: fadein 2s; */
  }
  
  /* .navLink {
    font-size: 36px;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  } */

  /* End of Main Container */
  
  @media only screen and (max-width: 425px) {
    .myName{
        display: flex;
        flex-direction: column;
        height: 75vh;
        width: 75vw;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* mix-blend-mode: difference; */
        /* background: linear-gradient(to bottom, red, grey);     -webkit-background-clip: text;     -webkit-text-fill-color: transparent; */
    }
    
    #hello{
        margin: 0 auto;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        
    }
    
    #name{
        margin: 0 auto;
        font-size: 40px;
        color: white;
        letter-spacing: 15px;
        font-family: 'Great Vibes', cursive;
        font-weight: bold;
        text-align: center;

    }
    
    #designer{
        margin: 0 auto;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    /* .navIcon{
      position: fixed;
      background: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1608097003/Portfolio1/Black_and_White_DS_Logo_16_fqbgmh.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 115px;
      height: 115px;
      margin: 10px;
      top: 0;
      right: 0;
    } */
    /* background-color: rgba(0, 0, 0, 0.5); */


    .App{
      position: relative;
    }

    .linkContainer {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width:100vw;
      height: 60px;
      bottom: 0;
      transition: all 1s;
      z-index: 1;
      font-size: 35px;
      font-weight: bold;
      color: white;
      text-align: center;
      right: 0;
      /* width: 20vw; */
      /* height: 75vh; */
      /* margin: 10vw; */
      /* margin-top: 15vh; */
      /* margin-top: 90vh; */
      /* background-color: white;
      opacity: .5; */
    }

    p{
      color: black;
    }

    /* .homeIcon:hover, .projectsIcon:hover, .contactIcon:hover, .aboutIcon:hover {
      filter: invert(0);
    } */
  
    
    .homeIcon {
      /* background: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1608154551/Portfolio1/8_zqtgcn.png");
      background-size: contain;
      background-repeat: no-repeat; */
      /* width: 75%; */
      /* width: 75px;
      height: 100px;
      display: flex; */
      z-index: 100;
      font-size: 20px;
      font-weight: bold;
      /* transform: scale(1.15); */
      /* bottom: 0; */

      /* filter: invert(1); */
    }
    .aboutIcon {
      /* background: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1608154551/Portfolio1/7_pb23mj.png");
      background-size: contain;
      background-repeat: no-repeat; */
      /* width: 75%; */
      /* width: 75px;
      height: 100px; */
      z-index: 100;
      font-size: 20px;
      font-weight: bold;


      /* filter: invert(1); */
    }
    .projectsIcon {
      /* background: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1608154551/Portfolio1/9_msm3wk.png");
      background-size: contain;
      background-repeat: no-repeat; */
      /* width: 75%; */
      /* width: 75px;
      height: 100px; */
      z-index: 100;
      font-size: 20px;
      font-weight: bold;

      /* filter: invert(1); */
    }
    
    .contactIcon {
      /* background: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1608154551/Portfolio1/10_frrveo.png");
      background-size: contain;
      background-repeat: no-repeat; */
      /* width: 75%; */
      /* width: 75px;
      height: 100px; */
      z-index: 100;
      font-size: 20px;
      font-weight: bold;

      /* filter: invert(1); */
  
    }
    
    .navBox {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 0;
      transition: all 1s;
      /* transform: translateX(80vw) 1s ease; */
    }
    
    .width1 {
      width: 77vw;
      /* transform: translateX(0); */
      /* z-index: 100; */
      /* animation: fadein 2s; */
    }
    
    /* .navLink {
      font-size: 36px;
      position: absolute;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 50%;
    } */
  
    /* End of Main Container */
  
    .footer{
      display: none;
    }

  }