.projectContainer{
    width: 100vw;
    position: absolute;
    height: 100%;
    top: 10vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    white-space: nowrap;
    padding-bottom: 10%;
}


.projectCard1, .projectCard2, .projectCard3, .projectCard4{
    height: 100%;
    width: 100%;
    padding: 20px;
    word-wrap: wrap;
    margin: 0 auto;
    line-height: 1;
}

.project1{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    border: 4px solid white;
    margin: 10px;
    
}

.projectImage1{
    width: 60%;
    height: 100%;
    position: relative;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1608323513/Portfolio1/Screenshot_2020-12-18_123128_a71ujf.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    white-space: nowrap;
}
.projectImage2{
    width: 60%;
    height: 100%;
    position: relative;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607298374/Portfolio1/Screenshot_2020-12-06_154559_nbceix.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    white-space: nowrap;
}
.projectImage3{
    width: 60%;
    height: 100%;
    position: relative;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607133056/Portfolio1/the_man_called_cayde_by_vulshokbersrker_dcxfgx8-fullview300_gly2rl.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    white-space: nowrap;
}
.projectImage4{
    width: 60%;
    height: 100%;
    position: relative;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607132046/Portfolio1/portfolioBanner_g386ol.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    white-space: nowrap;
}



.projectDescription{
    all: initial;
    font-size: 18px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    color: white;
    text-align: justify;
    justify-content: center;
}

@media only screen and (max-width: 768px) {

    
    .projectContainer{
        width: 100vw;
        position: absolute;
        height: 100%;
        top: 10vh;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        white-space: nowrap;
        padding-bottom: 10%;
    }
    
    
    .projectCard1, .projectCard2, .projectCard3, .projectCard4{
        height: 100%;
        width: 100%;
        padding: 20px;
        word-wrap: wrap;
        margin: 0 auto;
        line-height: 0.5;
    }
    
    .project1{
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 75%;
        border: 4px solid white;
        margin: 10px;
        
    }
    
    .projectImage1{
        width: 90%;
        height: 100%;
        position: relative;
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1608323513/Portfolio1/Screenshot_2020-12-18_123128_a71ujf.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    .projectImage2{
        width: 90%;
        height: 100%;
        position: relative;
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607298374/Portfolio1/Screenshot_2020-12-06_154559_nbceix.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

        margin: 0 auto;

    }
    .projectImage3{
        width: 90%;
        height: 100%;
        position: relative;
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607133056/Portfolio1/the_man_called_cayde_by_vulshokbersrker_dcxfgx8-fullview300_gly2rl.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;

    }
    .projectImage4{
        width: 90%;
        height: 100%;
        position: relative;
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607132046/Portfolio1/portfolioBanner_g386ol.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;

    }
    
    
    
    .projectDescription{
        all: initial;
        font-size: 18px;
        font-family: 'Gruppo', cursive;
        font-weight: bold;
        color: white;
        text-align: justify;
        justify-content: center;
    }
}
@media only screen and (max-width: 500px) {

    .projectContainer{
        width: 100vw;
        position: absolute;
        height: 100%;
        top: 10vh;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        white-space: nowrap;
        padding-bottom: 10%;
    }
    
    
    .projectCard1, .projectCard2, .projectCard3, .projectCard4{
        height: 100%;
        width: 100%;
        padding: 20px;
        word-wrap: wrap;
        margin: 0 auto;
        line-height: 0.5;
    }
    
    .project1{
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 1200px;
        border: 4px solid white;
    }
    
    .projectImage1{
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1608323513/Portfolio1/Screenshot_2020-12-18_123128_a71ujf.png');
        background-size: 100% contain;
        background-repeat: no-repeat;
    }
    .projectImage2{
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607298374/Portfolio1/Screenshot_2020-12-06_154559_nbceix.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .projectImage3{
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607133056/Portfolio1/the_man_called_cayde_by_vulshokbersrker_dcxfgx8-fullview300_gly2rl.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .projectImage4{
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607132046/Portfolio1/portfolioBanner_g386ol.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    
    
    .projectDescription{
        all: initial;
        font-size: 14px;
        font-family: 'Gruppo', cursive;
        font-weight: bold;
        color: white;
        text-align: justify;
        justify-content: center;
    }

}